body{
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;  
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1.5px;
  color:whitesmoke;
}

.Container {
  margin: 30px auto;
  width: 355px;
  padding:5px;
  background-color: #1565c0;
  border-radius: 10px;
}

.splash{
  width: 100%;
  height: 80vh;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 28px;
  border-radius: 5px;
  /* animation: splashTextAnim 3s alternate ease-out normal; */
}

.splashImg{
  width:70%;
  margin-bottom: 30px;
  /* animation: splashImgAnim 3s alternate-reverse ease-in-out infinite; */
}

/* @keyframes splashImgAnim{
  to{
    transform: translateY(-20px);
    opacity: 0;
  }
} */

.splashText{
  opacity: 1;
}

/* @keyframes splashTextAnim{
  to{
    opacity: 0;
  }  
} */


.header{
  display: flex;
  justify-content: center;
  justify-self: center;
  color:whitesmoke;
  align-items: center;
  flex-direction: column;
  padding:10px;
}

.heading{
  font-size:22px !important;
  letter-spacing: 2px !important;
}

.headerImg{
  width:70%;
}

.balanceBox{
  border-radius: 5px;
  padding:10px;
  color: whitesmoke;
  text-align: center;
}

.inc-exp-container {
  display: flex;
  /* justify-content: space-between; */
}

.inc-exp-container h4 {
  margin: 10px !important;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}


.incBox{
  background-color: rgba(0,0,0,0.6) !important;
  color:whitesmoke !important;
  padding:10px;
}


.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

.mainHr
{
  opacity: 0.05;
}

.inputField{
  width: 100%;
  color:whitesmoke !important;
  background-color: whitesmoke !important;
}

.inputField:nth-child(even){
  margin-top: 10px !important;

}

.incomeButton{
  background-color: #08284d !important;
  color:whitesmoke !important;
  width:45%;
  margin-bottom: 10px !important;
  margin-right: 2px !important;
}

.pnButton{
  background-color: #1565c0 !important;
  color:whitesmoke !important;
  width:90%;
  margin-bottom: 5px !important;
  margin-right: 2px !important; 
  font-size: 8px; 
  border: 1px whitesmoke dotted !important;
}

.expenseButton{
  background-color: #8b0000 !important;
  color:whitesmoke !important;
  width:45%;
  margin-left: 2px !important;
  margin-bottom: 10px !important;
}

.blackBG{
  background-color: #08284d !important;
}

.defaultFont{
  font-family: 'Work Sans', sans-serif !important;
  letter-spacing: 1.5px !important;  
}




